<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>

    <script>
        /*to prevent Firefox FOUC, this must be here*/
        let FF_FOUC_FIX;
    </script>
</head>

<body>
    <div class="container">
        <div class="circles-bg">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
            <div class="far-circle far-circle-1"></div>
            <div class="far-circle far-circle-2"></div>
            <div class="far-circle far-circle-3"></div>
            <div class="far-circle far-circle-4"></div>
        </div>
        
        <%- include('../partials/header.ejs') %>        
        
        <main class="main">
            <div class="admin-layout">
                <h1 class="admin-layout-title">admin</h1>
            </div>

            <%- body %>
        </main>

        <%- include('../partials/footer.ejs') %>
    </div>

</body>
</html>